<div style="background-color: #009999; overflow: auto;">
  <div style="width: 50%; background-color: white; margin: 20px auto; padding: 20px 50px;">
    <div style="text-align: center;">
      <img style="height: 150px;" src='https://smileup.eddiebatkinson.com/static/media/logo-donate.77a366ff.jpg' />
    </div>
    <p style="font-size: 18px;">
      Thank you so much for signing up to be a SmileUp! volunteer!<br />
      We'll be in touch with you for further volunteer opportunities. In the meantime, 
      keep up to date with us at <a href="https://smileup.eddiebatkinson.com">smileup.eddiebatkinson.com</a>.<br /><br />
      Thank you!<br/>
      SmileUp!
    </p>
  </div>
</div>